*{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}

.principal {
    position: relative;
    z-index: 2;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

h1 {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 200%;
    text-align: center;
    color:#b8591e;
    text-shadow: 4px 4px 10px #ca867b;
}


.caja-mensaje {
    border: 5px solid rgb(59, 88, 20);
    border-radius: 20px;
    box-sizing: border-box;
    background: transparent;
    text-transform: lowercase;
    margin: 5px 80px 5px 100px;
    color:  #ffffff;
    text-decoration: solid;
    padding: 20px;
    resize: none; 
    
}

::placeholder { 
    color: white;
}

.caja-resultado {
    border: 5px solid rgb(25, 13, 54);
    border-radius: 20px;
    box-sizing: border-box;
    background: transparent;
    text-transform: lowercase;
    margin: 5px 80px 5px 100px;
    color:  #ffffff;
    text-decoration: solid;
    padding: 20px;
    resize: none;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: bottom;
}

.cuadro-mensaje:focus{
    outline: none;
}

.boton-encriptar, .boton-desencriptar {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.boton-encriptar:before, .boton-desencriptar:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
   
}

.boton-encriptar:active, .boton-desencriptar:active  {
    color: #000
}

.boton-encriptar:active:after, .boton-desencriptar:active:after {
    background: transparent;
}

.boton-encriptar:hover:before, .boton-desencriptar:hover:before {
    opacity: 1;
}

.boton-encriptar:after, .boton-desencriptar:after  {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.boton-copiar {
    height: 11%;
    width: 20%;
    border-radius: 10px;
    background: linear-gradient(45deg, #47b68b, #065242);
    color: #ffffff;
    border: 3px solid #09081b;
    font-size: 18px;
    box-shadow: 2px 6px 10px 0 #09081b;
    display: inline-block;
    margin-top: 6%;
    margin-left: 40%;
}

.boton-encriptar:hover, .boton-desencriptar:hover, .boton-copiar:hover {

    background: #110824;
    transform: scale(1.2);
}


main{
    display: flex;
    flex-wrap: wrap;
}

.informacion {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

.git{
   
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px; 
    margin-left: 46%;      
}

.linkedin {
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 2%;
    }

.texto-footer {
    font-size: 13px;
    text-align: center;
    padding-top: 1%;
    color: #ffffff;
}

@media screen and (max-width: 480px) {

    * {
    
        padding: 2% 0%;
    }
    .principal {
        height: 100%;
        width: 100%;
    }

    body {
        object-fit: cover;
    }

    .texto-footer {
        text-align: center;
        padding-left: 50%;
    }    
    
    a {
        padding-left: 13%;
    }
}

